
{% extends 'base.html' %}
{% load static %}
{% block page_content %}
<link rel="stylesheet" href="{% static 'css/book_index.css' %}">
<div class="row">
    <h1 style="color:#FFFFFF"><a href="{% url 'film_index'%}">Фильмы</a></h1>
    {% for f in films %}
    <div class="col-md-4">
    <div class="card mb-2">
        <img class="card-img-top" src="{{f.image.url}}">
             <div class="card-body">
                 <h5 class="card-title">{{f.title}}</h5>
                    <a href="{% url 'film_detail' f.pk %}"
                       class="btn bth-primary">
                        Подробнее
                    </a>
             </div>
        </div>
    </div>
    {% endfor %}
</div>

<div class="row">
    <h1 style="color:#FFFFFF"><a href="{% url 'book_index'%}">Книги</a></h1>
    {% for b in books %}
    <div class="col-md-4">
    <div class="card mb-2">
        <img class="card-img-top" src="{{b.image.url}}">
             <div class="card-body">
                 <h5 class="card-title">{{b.title}}</h5>
                    <a href="{% url 'book_detail' b.pk %}"
                       class="btn bth-primary">
                        Подробнее
                    </a>
             </div>
        </div>
    </div>
    {% endfor %}
</div>

<div class="row">
    <h1 style="color:#FFFFFF"><a href="{% url 'serials_index'%}">Сериалы</a> </h1>
    {% for s in serials %}
    <div class="col-md-4">
    <div class="card mb-2">
        <img class="card-img-top" src="{{s.image.url}}">
             <div class="card-body">
                 <h5 class="card-title">{{s.title}}</h5>
                    <a href="{% url 'serials_detail' s.pk %}"
                       class="btn bth-primary">
                        Подробнее
                    </a>
             </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}
